<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/mystyle.css">
    <title>Document</title>
</head>
<body>
    <h1 class="redText">Index page</h1>
<h1>{{username}}</h1>
    <div class="navBar">
        <a href="/">Home</a>
        <a href="/add">Add new</a>
        <a href="/product">Products</a>
        <a href="/login">Login</a>
    </div>
</body>
</html>